@model BookingApplication.Domain.DTO.ViewDTO;

<div class="container">
    
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>

                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ApartmentName</th>
                            <th scope="col">City</th>
                            <th scope="col">Check In Date</th>
                            <th scope="col">Price per night</th>
                        </tr>
                    
                </thead>
                <tbody>
                    
                    @for (var i = 0; i < Model?.BookedReservations?.Count; i++)
                    {
                        
                        var item = Model.BookedReservations[i];
                        <form method="post" asp-action="DeleteReservation" asp-route-id="@item?.Reservation?.Id">
                            
                        <tr>
                            @* <th><input type="hidden" /></th> *@
                        <th scope="row">@(i+1)</th>
                        <td>@item?.Reservation?.Apartment?.ApartmentName</td>

                        <td>@item?.Reservation?.Apartment?.City</td>

                        <td>@item?.Reservation?.Check_in_date</td>

                         <td>@item?.Reservation?.Apartment?.Price_per_night</td>
                         <td><button class="btn btn-danger">Delete reservation</button></td>
                          
                    </tr>
                        </form>
                    
                   
                    }
                   
                    <tr>

                        
                        
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td>@Model.TotalPrice</td>
                    </tr>
                    <tr>
                        <form method="post" asp-action="Order">
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td><button class="btn btn-success">Order</button></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        </form>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>